*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 737px;
}

.header-container{
    width: 978px;
    height: 737px;
    background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
    border-radius: 0px 0px 35px 35px;
}

.logo{
    width: 64px;
    height: 64px;
}

.header-element{
    position: relative;
    width: 564px;
    top: 75px;
    left: 116px;
}

.header-element-container{
    margin-top: 127px;
    width: 564px;
}

.header-element-container h1{
    width: 83%;
    font-weight: 600;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: #253347;
    align-self: stretch;
}

.header-element-container p{
    width: 83%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:  #5E6E85;
    order: 1;
}

.header-subheader-container{
    display: flex;
    margin-left: 43rem;
    margin-top: -15rem;
    width: 564px;
    height: 490px;
    background: #fff;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
}

.header-sub-container{
    width: 500px;
    height: 400px;
    margin:32px 32px 32px 32px;
}

.radio-label{
    display: flex;
    margin: 0 auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #253347;
}

.metric-radio-label{
    position: relative;
    top: -7px;
    left: 2rem;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #253347;
}

.radio-input{
    width: 31px;
    height: 31px;
    
}

.radio-input:hover{
    cursor: pointer;
    border-color: #345FF6;
}

.metric-radio-input{
    top: 2px;
    width: 31px;
    height: 31px;
}

 .imperial-container{
    display: flex;
    align-items: center;
    width: 140px;
    height: 35px;
    /* background: #c4e825; */
 }

 .metric-container{
    width: 140px;
    height: 35px;
 }

 span{
    position: relative;
    float: right;
    right: 1.5rem;
    top: -3.2rem;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #345FF6;
 }

.radio-container{
    display: flex;
    /* background: #40e907; */
    margin-top: 2.5rem;
    gap: 7rem;
    width: 500px;
    height: 40px;
    /* justify-content: space-between; */
}

.heightLabel{
    display: flex;
    width: 500px;
    height: 120px;
    /* background: #e93407; */
}

.middle-container{
    position: relative;
    top: 8rem;
    display: flex;
    width: 1160px;
    height: 533px;
    margin: 0 auto;
}

.middle-container-element{
    display: flex;
    flex-direction: row;
    gap: 131px;
}

.middle-container-curve{
    width: 465px;
    height: 309px;
}

.curve{
    position: relative;
    top: -4rem;
    left: 25rem;
}

.bmi-result{
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.05em;
    width: 465px;
    height: 106px;
    color: #253347;
    align-self: stretch;
    order: 0;
}

.healthy-range{
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
    width: 465px;
    height: 168px;
}

.manIcon{
    display: flex;
    width: 564px;
    height: 533px;
}

.fourth-container{
    position: relative;
    display: flex;
    top: 210px;
    width: 100%;
    height: 402px;
    background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0.10) 80%);
    /* opacity: 0.25; */
    border-radius: 35px;
}

.fourth-container-element{
   position: absolute;
   display: flex;
   flex-direction: row;
   gap: 30px;
   align-items: center;
   width: 1159px;
   height: 260px;
   margin: 72px 117px 96px 116px;
}

.healthy-title, 
.regular-fitness-title, 
.sufficiently-sleep-status{
    /* margin-top: 2rem; */
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #253347;
}

.healthy-status, 
.exercise-fitness-status, 
.adequate-sleep-status{
    /* margin-top: 3rem; */
    width: 365px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
}

.last-container{
    display: flex;
    margin-top: 12rem;
    width: 100%;
    height: 855px;
}

.last-container-element{
    display: flex;
    width: 1300px;
    height: 704px;
    margin: 72px 117px 96px 116px;
}

.limitation-status-bmi{
    width: 564px;
    height: 370px;
}

.limitation-status-header{
    width: 564px;
    height: 53px;
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: #253347;
}

.limitation-status-element{
    width: 564px;
    height: 96px;
    margin-top: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
}

.line-curve-right{
    position: relative;
    top: 4rem;
    left: 10rem;
}

.grid-container-element{
    position: relative;
    right: 455px;
    display: grid;
    width: 961px;
    height: 704px;  
}

.gendered-grid{
    position: relative;
    left: 40rem;
    width: 365px;
    height: 232px;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
}

.gendered-container,
.muscle-container,
.race-container{
    margin: 32px 32px 32px 32px;
}

.gender-text, 
.muscle-text{
    position: relative;
    width: 100px;
    top: -1.7rem;
    left: 3.5rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #253347;
    order: 1;
    flex-grow: 1;
}

.age-text, 
.race-text, 
.pregnancy-text{
    position: relative;
    top: -2rem;
    left: 3.5rem;
    width: 100px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #253347;
    order: 1;
    flex-grow: 1;
}

.gender-develop,
.muscle-develop,
.race-develop,
.Pregnancy-develop{
    /* margin-top: 0.2rem; */
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
    order: 1;
    align-self: stretch;
}

.muscle-grid{
    position: relative;
    top: -9rem;
    left: 50rem;
    width: 365px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
}

.age-grid{
    position: relative;
    top: 3.5rem;
    left: 25rem;
    width: 365px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
}

.age-container, .pregnancy-container{
    margin: 24px 32px 32px 32px;
}

.age-develop{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
}

.race-grid{
    position: relative;
    top: -22rem;
    left: 44rem;
    width: 365px;
    height: 232px;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
}

.pregnancy-grid{
    position: relative;
    top: -7.5rem;
    right: -19rem;
    width: 365px;
    height: 232px;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
}

.metric-cart, .imperial-cart{
    position: relative;
    top: 2rem;
    width: 500px;
    height: 240px;
   
}

.height-input{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #253347;
}

.metric-element-cart{
    display: block;
    flex-direction: row;
    gap:12px;
    width: 500px;
    height: 98px;
}

.imperial-element-cart{
    margin: 0 auto;
    width: 500px;
    height: 190px;
}

.metric-height-weight{
    display: flex;
    gap: 1.5rem;
    height: 100px;
    width: 500px;
}

.imperial-height-weight{
    display: flex;
    gap: 1.5rem;
    height: 100px;
    width: 500px;

}

.imperial-content{
    display: block;
    height: 165px;
}

.imperial-label-element{
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 2rem;
}

.imperial-label{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #5E6E85;
}

.accept-input{
    display: flex;
    /* flex-direction:row; */
    gap: 24px;
    width: 500px;
    height: 69px;
    /* background: yellow; */
}

.imperial-input{
    
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #253347;
    width: 238px;
    height: 69px;
    background: #FFFFFF;
    border: 1px solid #D8E2E7;
    border-radius: 12px;
}
  
.height-input::-webkit-outer-spin-button,
.height-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.result-div{
    display: flex;
    padding: 32px;
    margin-top: 1rem;
    gap: 24px;
    width: 500px;
    height: 166px;
    background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);
    border-radius: 16px 999px 999px 16px;
}

.imperial-result-div{
    display: flex;
    padding: 32px;
    margin-top: 70px;
    width: 500px;
    height: 166px;
    background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);
    border-radius: 16px 999px 999px 16px;
}

.result-content{
    text-align: center;
    display: flex;
    color: #FFFFFF;
    font-size: 28px;
    width: 200px;
    height: 102px;
}

.result-calculator{
    display: none;
    width: 206px;
    height: 84px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;      
    color: #FFFFFF;
}

.result-suggest{
    width: 206px;
    height: 84px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;      
    color: #FFFFFF;
}

.result-element{
    display: none;
    text-align: center;
    width: 170px;
    height: 80px;
    font-size: 27px;
    color: #ffffff;
}

.height-label{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #5E6E85;
}

.height-input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 24px;
    gap: 24px;
    width: 238px;
    height: 69px;
    background: #FFFFFF;
    border: 1px solid #D8E2E7;
    border-radius: 12px;
}

.result-message-welcome{
    align-items: center;
    width: 436px;
    height: 66px;
}

.result-welcome-content{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

.result-message{
    width: 436px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-top: 16px;
    color: #FFFFFF;
}

.imperial-label-element{
    display: block;
    width: 150px;
}

.input-label{
    position: relative;
    top: -3rem; 
    float: left;
    left: 12rem;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #345FF6;

}

.inches-label{
    position: relative;
    height: 25px;
    top: 1.1rem;
    right: 3rem;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #345FF6;
}

.accept-weight{
    display: flex;
    gap: 24px;
}

.weight-label-text{
    margin-top: 1rem;
}

@media screen and (max-width:768px) and (min-width:480px) {
    .header{
        width: 100%;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .header-container{
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .header-element{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .header-element-container{
        position: relative;
        top: -6rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-element-container h1{
        display: flex;
        margin: 0 auto;
        font-size: 48px;
        width: 350px;
        align-items: center;
    }

    .header-element-container p{
        position: relative;
        top: 24px;
        right: 5rem;
        margin: 0 auto;
        font-size: 16px;
        width: 686px;
        height: 72px;
    }

    .header-subheader-container{
        position: relative;
        top: 5rem;
        margin: 0 auto;
    }

    .middle-container{
        width: 100%;
        height: 380px;
        margin-top: 12rem;
    }

    .middle-container-element{
        
        width: 100%;
        height: 380px;
    }

    .manIcon{
        width: 380px;
        height: 380px;
    }

    .bmi-result{
        font-size: 16px;
        width: 150px;
        height: 45px;
    }

    .middle-container-curve{
        position: relative;
        top: 4rem;
        right: 6rem;
        width: 331px;
        height: 314px;
    }

    .healthy-range{
        width: 331px;
    }

    .curve,
    .line-curve-right{
        display: none;
    }

    .fourth-container{
        width: 100%;
        height: 484px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .fourth-container-element{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .healthy-eating,
    .healthy-health-check,
    .adequate-status{
        display: flex;
        gap: 2rem;
        width: 686px;
        height: 101px;
    }

    .healthy-container,
    .healthy-health-element,
    .effective-condition{
        width: 582px;
        height: 101px;
    }

    .healthy-title,
    .regular-fitness-title,
    .sufficiently-sleep-status{
        width: 582px;
        height: 29px;
    }

    .healthy-status,
    .exercise-fitness-status,
    .adequate-sleep-status{
        margin-top: 1.5rem;
        width: 582px;
        height: 48px;
    }

    .last-container{
        position: relative;
        top: 15rem;
        width: 100%;
        height: 1040px;
        margin: 0 auto;
    }

    .last-container-element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 686px;
        height: 975px;
        margin:  0 auto;
    }

    .grid-container-element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        left: 0;
        width: 686px;
        height: 963px;
}

    .grid-container{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        gap: 1rem;
        width: 686px;
        height: 256px;
    }

    .gendered-grid{
        left: 0;
        top: 0;
        width: 335.5px;
        height: 232px;
    }

    .age-grid{
        left: 0;
        top: 0;
        width: 335.5px;
        height: 232px;
    }

    .muscle-grid,
    .pregnancy-grid{
        left: 0;
        top: 0;
        width: 335.5px;
        height: 232px;
    }

    .race-grid{
        left: 0;
        top: 1rem;
        width: 335.5px;
        height: 232px;
    }

   .muscle-preg-element{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 686px;
    height: 256px;
   }
}

@media screen and (max-width: 480px) and (min-width: 280px) {
    .header{
        width: 100%;
    }

    .logo{
        display: flex;
        width: 36px;
        height: 36px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .header-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .header-element{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 327px;
        height: 327px;
        margin-left: -5.5rem;
    }

    .header-subheader-container{
        position: relative;
        top: 5rem;
        margin: 0 auto;
        width: 328px;
        height: 649px;
    }

    .header-element-container{
        /* position: relative;
        top: -6rem; */
        width: 328px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .header-element-container h1{
        display: flex;
        text-align: center;
        justify-content: center;
        /* margin: 0 auto; */
        font-size: 48px;
        width: 327px;
        height: 159px;
        align-items: center;
    }

    .header-element-container p{
        position: relative;
        top: 24px;
        margin: 0 auto;
        font-size: 16px;
        width: 327px;
        height: 144px;
    }

    .header-sub-container{
        width: 300px;
        height: 400px;
        margin:32px 32px 32px 32px;
    }

    .radio-container{
        display: flex;
        gap: 2px;
        width: 300px;
    }

    .metric-cart{
        width: 320px;
    }

    .metric-height-weight{
        display: flex;
        flex-direction: column;
        gap: 1px;
        width: 280px;
        height: 212px;
    }

    .metric-element-cart{
        width: 320px;
    }

    .height-input{
        width: 280px;
    }

    .result-div{
        width: 280px;
        height: 257px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .result-welcome-content{
        width: 200px;
    }

    .result-message-welcome{
        width: 220px;
    }

    .result-message{
        width: 200px;
    }

    .result-content{
       
        width: 200px;
    }

    .imperial-cart{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 212px;
    }

    .height-input{
        width: 132px;
        height: 69px;
    }

    .input-label{
        left: 6rem;
    }

    .imperial-result-div{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 257px;
        background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);
        border-radius: 16px;
    }

    .middle-container{
        width: 375px;
        height: 1087px;
    }

    .middle-container-element{
        width: 375px;
        height: 74px;
        margin-top: 15rem;
        display: flex;
        flex-direction: column;
    }

    .manIcon{
        width: 375px;
        height: 354.39px;
    }

    .curve,
    .line-curve-right{
        display: none !important;
    }

    .middle-container-curve{
        width: 328px;
        height: 357px;
        margin: 0 auto;
    }

    .bmi-result{
        font-size: 32px;
        width: 328px;
    }

    .healthy-range{
        width: 328px;
        height: 228px;
    }

    .fourth-container{
        width: 375px;
        height: 680px;
    }
    .fourth-container-element{
        width: 328px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 35px 20px 10px 24px;
    }

    .healthy-eating,
    .healthy-health-check,
    .adequate-status{
        margin: 0 auto;
        width: 327px;
    }

    .healthy-container{
        width: 320px;
    }

    .healthy-status,
    .exercise-fitness-status,
    .adequate-sleep-status{
        width: 320px;
    }

    .last-container{
        display: flex;
        flex-direction: column;
        margin-top: 17rem;
        width: 375px;
        height: 1550px;
    }

    .last-container-element{
        display: flex;
        flex-direction: column;
        width: 328px;
        margin: 0 auto;
    }

    .limitation-status-bmi{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 328px;
    }

    .limitation-status-header{
        width: 300px;
        font-size: 32px;
    }

    .limitation-status-element{
        width: 320px;
    }

    .grid-container-element{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        width: 328px;
        right: 0;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 320px;
    }

    .race-grid{
        left: 0;
        top: 1rem;
        width: 328px;
        height: 250px;
    }

    .race-container{
        width: 275px;
        height: 170px;
    }

    .age-grid{
        width: 320px;
        height: 216px;
        left: 0;
    }

    .age-container{
        top: 0;
        width: 275px;
        height: 170px;
    }

    .gendered-grid{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 328px;
        left: 0;
        top: 3rem;
    }

    .gendered-container{
        width: 275px;
        height: 183px;
    }

    .muscle-preg-element{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 5rem;
    }

    .muscle-grid{
        top: 0;
        left: 0;
        width: 320px;
        height: 216px;
    }

    .muscle-container{
        align-items: center;
        width: 275px;
        height: 170px;
    }

    .pregnancy-grid{
        top: 0;
        left: 0;
        width: 328px;
    }

}